h1, h2 {
  font-family: Lato;
}

#data {
  width: 50px;
}

#memory, #assembly {
  width: 100%;
  height: 300px;
}

.byteField {
  width: 50px !important;
  height: 30px !important;
  text-align: right;
  margin: 0 auto;
}

.addressField {
  width: 100px !important;
  height: 30px !important;
  text-align: right;
}